<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958893942054-1peh8f96d14t7mr3176jhal7mp7gr7bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958893942054-1peh8f96d14t7mr3176jhal7mp7gr7bh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>958893942054-6pkkvhq2dqu6gdgmo487aom9iukbvbf4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsuayCKqzIazgPhmDZf9LJkSvYn9liNrY</string>
	<key>GCM_SENDER_ID</key>
	<string>958893942054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.examtime.exams</string>
	<key>PROJECT_ID</key>
	<string>fetena-12350</string>
	<key>STORAGE_BUCKET</key>
	<string>fetena-12350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958893942054:ios:00a8cd9a8d9a88db29cde7</string>
</dict>
</plist>